@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

html,body{
    padding:0;
    margin: 0;
}

/* In globals.css - Forces consistent sizing */


body {
  min-height: 100vh;
  min-height: 100dvh; /* Better mobile support */
}

@custom-variant dark (&:is(.dark *));



@theme {
    --color-primary: #fafad2; /* A light goldenrod yellow, close to the image's beige */
    /* Secondary Color - The black used for text and outlines */
    --color-navbar: #000000; /* Pure black */
    /* Tertiary/Accent Color - The white used for the crown's outline */
    --color-secondary: #ffffff; /* Pure white */
}



@keyframes slide-in-from-left {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}


.container{
    margin: 0 auto;
}
